<section class="mainCount">
    <div class="container-fluid ">
        <div class="row container-count">
            <div class="col">
                
            </div>
            <div class="col-6 text-center">
                <h1>Total Confirmed : 79,45,975</h1>
            </div>
            <div class="col">
                
            </div>
        </div>
        <div class="row container-values">
            <div class="col text-center">
        <h3>Active : <span style="color: #0ab3dd;">626192</span></h3>
            </div>
            <div class="col-4 text-center">
                <div class="col text-center">
                    <h3>Recovered : <span style="color: #20655f;">7198877</span></h3>
                </div>
            </div>
            <div class="col text-center">
                <h3>Deceased : <span style="color: #e75151;">119538</span> </h3>
            </div>
        </div>
    </div>
</section>

