<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Book Epass</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type='text/css' media='screen' href="css/index.css">
</head>

<body>
    <section class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <h1>Covid-19</h1>
                </div>
                <div class="col-md-3 col-sm-12">


                </div>
            </div>
        </div>
    </section>

    <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Passes <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Book A Pass</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications <span class="badge badge-danger">1</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </section >

    <section class="UsersSection bookPass">
        <div class="container-fluid">
            <div class="row " >
                <div class="col text-center">
                    <h1>From</h1>
                </div>
                <div class="col text-center">
                    <h1>To</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center bord" style="width: 100%; height:300px">
                    
                        <div class="row bord" style="width: 100%;;">
                            <div class="col  text-left">
                                <div class="controler">
                                    <i class="fas fa-arrow-left fa-2x "></i>
                                </div>
                            </div>
                    
                            <div class="col text-center">
                                <div class="cityname">
                                    <h1>Maharashtra</h1>
                                </div>
                                <i class="fas fa-3x fa-lock lock" style="color: red;"></i>
                            </div>
                            <div class="col  text-right">
                                <div class="controler">
                                    <i class="fas fa-arrow-right fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        
                    
                    </div>
                   
                </div>
                <div class="col text-center">
                <div class="d-flex justify-content-center bord" style="width: 100%; height:300px">

                <div class="row bord" style="width: 100%;;">
                    <div class="col  text-left">
                        <div class="controler">
                        <i class="fas fa-arrow-left fa-2x " ></i>
                        </div>
                    </div>
                    
                    <div class="col ">
                        <div  class="cityname">
                            <h1>Telangana</h1>
                            <i class="fas fa-3x fa-lock-open lock-right" style="color: green;"></i>
                        </div>
                    </div>
                    <div class="col  text-right">
                        <div class="controler">
                            <i class="fas fa-arrow-right fa-2x"></i>
                        </div>
                    </div>
                    </div>
                    
                    
                </div>
                
                
                </div>
                </div>

        <div class="row" style="margin-top: 2rem;">
                <div class="col">
                    <textarea style="width: 100%;height:200px;resize:none;font-size:1.5rem" placeholder="Enter the reason to travel in brief.."></textarea>
                </div>
                
        </div>

        <div class="row bord" style="margin-top: 2rem;">
            <div class="col">
                <h4 class="text-center">Note : If your are trying to travel to a state which has imposed Lockdown, then your request would be processed in 24hrs.</h4>
            </div>
        </div>

        <div class="row" style="margin-top: 2rem;">
            <div class="col text-center">
                <button class="btn home-log">Book a Epass</button>
            </div>
        </div>

        </div>

    </section>
   
    <section class="UsersSection mypass">
        h1
    </section>
   


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<script>
  
</script>
    
</body>

</html>