<section>
    <div class="container-fluid container-states" style="margin:0">
        <div class="row">
            <div class="col">
                <table class="table bord">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Sno</th>
                            <th scope="col">Source</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Link</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                       
                    <tr *ngFor="let i of res.data,let x=index">
                        <td>{{x+1}}</td>
                        <td>{{i.source}}</td>
                        <td>{{i.destination}}</td>
                        <td><a href="/confirm/info/{{i.id}}">ClickHere</a></td>
                    </tr>
                     
                </tbody>
                </table>
                
                
            </div>
            
        </div>
    </div>
</section>