<section>
    <div class="container-fluid container-states">
        <div class="row">
            <div class="col">
                <table class="table bord">
                    <thead class="thead-dark">
                        <tr>
                            
                            <th scope="col">Sno</th>
                            <th scope="col">State</th>
                            <th scope="col">Confirmed Cases</th>
                            <th scope="col">Discharged</th>
                            <th scope="col">Deceased</th>
                            <th scope="col">Total Cases</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of table.data;let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{data.loc}}
                            </td>
                            <td>{{data.confirmedCasesIndian |number:'1.0':'en-US'}}</td>
                            <td>{{data.discharged |number:'1.0':'en-US'}} </td>
                            <td>{{data.deaths|number:'1.0':'en-US'}}</td>
                            <td>{{data.totalConfirmed|number:'1.0':'en-US'}}</td>
                        </tr>
                     
                    </tbody>
                </table>
                
                
            </div>
            
        </div>
    </div>
</section>
<section>

    <div class="container-fluid container-states">
        <div class="row">
            <div class="col text-center">
               
                <h3><strong>Last updated at : 11-05-2021</strong></h3>
    
            </div>
    
        </div>
    </div>
    
        </section>